<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Load Board</title>
  </head>
  <body>
    <header class="masthead">
      <div class="masthead__container">
        <h2 class="site_name">LoadBoard</h2>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/loads">All Loads</a>
            </li>
            <li>
              <a href="/add">Add Load</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
      {{{body}}}
  </body>
</html>
