<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Load Board</title>
  </head>
  <body>
    <header class="masthead">
      <div class="masthead__container">
        <div class="site_name">
          <div class="logo-container">
            <img src="../images/small-truck-trailer-gold-sm.png" alt="small-truck">
          </div>
        </div>
        <div class="nav-container">
          <input type="checkbox" id="nav-toggle" class="nav-checkbox">
          <label for="nav-toggle" class="nav-icon-container">
            <span class="nav-icon">&nbsp;</span>
          </label>
          <nav class="nav-list-container">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/loads">All Loads</a>
              </li>
              <li>
                <a href="/add">Add Load</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
