<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
    <title>Load Board</title>
  </head>
  <body>
    {{>modal}}
    <header class="masthead">
      <div class="masthead__container">
        <div class="site_name">
          <a href="/">
            <div class="logo-container">
              <img src="../images/customTruck-sm.png" alt="small-truck">
            </div>
          </a>
        </div>
        <div class="nav-container">
          <input type="checkbox" id="nav-toggle" class="nav-checkbox">
          <label for="nav-toggle" class="nav-icon-container">
            <span class="nav-icon">&nbsp;</span>
          </label>
          <nav class="nav-list-container">
            <ul id="nav-list">
              <li>
                <a href="/loads">All Loads</a><span>|</span>
              </li>
              {{#if userStatus}}
                <li id="add-load">
                  <a href="/add">Add Load</a><span>|</span>
                </li>
                <li>
                  <a href="/user/profile">Profile</a><span>|</span>
                </li>
                <li id="logoutLink">
                  <a href="/user/logout">Logout</a>
                </li>
              {{else}}
                <li>
                  <a href="/signup">Sign Up</a><span>|</span>
                </li>
                <li id="loginLink">Login</li>
              {{/if}}

            </ul>
          </nav>
        </div>
      </div>
    </header>


    <div class="container">
      {{{body}}}
    </div>


    <script src="/js/javascript.js" charset="utf-8"></script>
  </body>
</html>
