<section id="search" class="search-wrap">
  <h1>Find A Load</h1>
  <form class="search-form" action="/search" method="get">
  {{!-- <form class="search-form"> --}}
    <div class="search-form_input-container">
      <input class="search-form_input" type="search" name="term" placeholder="Search">
      <select class="search-form_selector" name="category">
        <option value="material">Freight Material</option>
        <option value="trailer">Trailer Type</option>
        <option value=true>Pickup Location</option>
        <option value=false>Delivery Location</option>
      </select>
    </div>
    <input type="submit" value="Search" class="search-form_button" id="search-btn">
  </form>
</section>
