<section id="search" class="search-wrap">
  <h1>Find A Load</h1>
  <form class="search-form" action="/search" method="get">
    <div class="search-form_input-container">
      <input class="search-form_input" type="search" name="term" placeholder="Search">
      <select class="search-form_selector" name="category">
        <option value="company">Company</option>
        <option value="load_type">Trailer</option>
        <option value="pickup_location">Pickup Location</option>
        <option value="dropoff_location">Dropoff Location</option>
      </select>
    </div>
    <input type="submit" value="Search" class="search-form_button">
  </form>
</section>
