<section id="all-loads" class="page-container">

  <h1 class="page-title">All Loads</h1>

  {{!-- {{> filterbar}} --}}

  <div class="all-loads_container">

    {{#each loads}}

      <div class="load">
        <div class="information-container">

          {{>info-container}}

          <form class="all-loads_form" action="/details/{{id}}" method="get">
            <input type="submit" value="View More" class="load-submit-btn">
          </form>

        </div>
      </div>

    {{else}}

      <h3 class="no-loads">No Load Available</h3>

    {{/each}}

  </div>

</section>
