:root {
  --color-dark-grey: #393939;
  --color-light-grey: #888;
  --color-accent-blue: #1b6d8b;
  --color-accent-gold: #d5ab15;

  --shadow-box: 0 2px 2rem #0f0f0f;
  --shadow-text: 0 1px 1px #000;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-image: url("../images/peterbilt_front-bw-cropped.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  /* background-color: var(--color-light-grey); */
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover,
a:active {
  cursor: pointer;
}



h3 {
  font-size: 2rem;
}

input {
  -moz-appearance: none;/* older firefox */
  -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
  appearance: none;
}

button,
input[type=submit] {
  background-color: transparent;
  border: 2px solid;
  font-size: 1.8rem;
  font-weight: bold;
  outline: none;
  padding: .75rem 1rem;
  transtion: all ease .2s;
}

button:hover,
input:hover {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password] {
  padding: .5rem;
  font-size: 1.6rem;
}

.form_selector {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: .5rem 1rem;
  padding-right: 2.5rem;
  border-radius: 0;
  vertical-align: middle;
  background: #fff url(../images/drop-down.png) no-repeat right .75rem center;
  background-size: 8px 10px;
  font-size: 1.6rem;
  background-color: #fff;
  min-width: 20rem;
}







.masthead {
  background-color: var(--color-dark-grey);
  padding: 1.5rem;
  border-bottom: 5px solid var(--color-accent-blue);
  color: #fff;
  font-size: 1.8rem;
}

.masthead__container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.logo-container {
  height: 5rem;
}

.logo-container img {
  height: 100%;
}

.nav-checkbox {
  display: none;
}

.nav-icon-container {
  position: relative;
  height: 5rem;
  width: 5rem;
  z-index: 100;
}

.nav-icon {
  position: relative;
  margin-top: 2rem;
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
  width: 4rem;
  height: .5rem;
  background-color: var(--color-accent-blue);
  display: inline-block;
  transition: all ease .2s;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.nav-icon::before {
  top: -.8rem;
}

.nav-icon::after {
  top: .8rem;
}

.nav-list-container {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -20rem;
  background-color: #000;
  transition: all ease .3s;
  z-index: 90;
}
#nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#nav-list > li {
  font-size: 2.5rem;
  margin-top: 2.5rem;
}

#nav-list > li > span {
  display: none;
}

#nav-list > li > a,
#nav-list > li > label {
  /* padding: 0 .5rem; */
}

.nav-checkbox:checked ~ .nav-list-container {
  width: 100%;
  right: 0;
}

.nav-checkbox:checked + .nav-icon-container .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked + .nav-icon-container .nav-icon::before {
  transform: rotate(135deg);
  top: 0;
}

.nav-checkbox:checked + .nav-icon-container .nav-icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.masthead a:link,
.masthead a:visited {
  color: #fff;
}

.container {
  padding: 1.5rem;
  position: relative;
  min-height: 80vh;
  display: flex;
}





/* ============================== */
   /* PARTIAL -- INFO CONTAINER */
/* ============================== */

.information-container {
  color: #fff;
  text-shadow: var(--shadow-text);
  padding: 1.5rem;
}

.information-container > div {
  margin-bottom: 1rem;
}

.information-container span:first-child {
  font-weight: bold;
  color: var(--color-accent-gold);
}

.information-container p {
  text-transform: capitalize;
  text-shadow: var(--shadow-text);
}

.information-container .monetary-sign {
  margin-right: .2rem;
  font-family: arial, Helvetica, sans-serif;
}

.address span {
  display: block;
}

.address p {
  margin-left: 1rem;
}

.instructions {
  color: #fff;
  text-shadow: var(--shadow-text);
  margin-left: 1rem;
}











/* ============================== */
    /* FRONT PAGE -- SEARCH */
/* ============================== */
#search {
  background-color: var(--color-dark-grey);
  border: 2px solid var(--color-accent-blue);
  box-shadow: var(--shadow-box);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  margin: 0 auto;
  min-height: 25rem;
  padding: 1.5rem;
  text-align: center;
  width: 50rem;
}

.search-form {
  height: 100%;
}

#search h1 {
  font-size: 3rem;
}

.search-form_input-container {
  display: flex;
}

.search-form_input {
  -moz-appearance: none;/* older firefox */
  -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
  appearance: none;
  box-sizing: border-box;
  width: 80%;
  margin-bottom: 2.5rem;
  padding: .5rem 1rem;
  font-size: 1.6rem;
}

.search-form_selector {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: .5;
  margin-bottom: 2.5rem;
  padding: .5rem 1rem;
  padding-right: 2.5rem;
  border-radius: 0;
  color: #fff;
  vertical-align: middle;
  background: #fff url(../images/drop-down.png) no-repeat right .75rem center;
  background-size: 8px 10px;
  font-size: 1.4rem;
  background-color: var(--color-accent-blue);
}

.search-form_button {
  border-color: var(--color-accent-blue);
  color: var(--color-accent-blue);
}






/* ============================== */
          /* ADD LOAD */
/* ============================== */

#add {
  background-color: var(--color-dark-grey);
  margin: 0 auto;
  max-width: 70rem;
  width: 100%;
  color: #fff;
  padding: 2rem 3rem;
  border: 2px solid var(--color-accent-blue);
  box-shadow: var(--shadow-box);
  align-self: center;
}

#add h1 {
  text-align: center;
  font-size: 3rem;
}



.load-submit-button {
  border: 2px solid var(--color-accent-blue);
  color: var(--color-accent-blue);

}

.load-submit-button:hover {
  background-color: var(--color-accent-blue);
  color: var(--color-dark-grey);
}

.add-form fieldset {
  border: 1px solid #fff;
  padding: 0 1rem 1rem;
}
.add-form legend {
  font-size: 2.25rem;
  text-shadow: var(--shadow-text);
  color: var(--color-accent-blue);
  margin-bottom: -.5rem;
  padding: 0 1rem;
}

.add-form label {
  display: block;
  color: var(--color-accent-gold);
  text-shadow: var(--shadow-text);
  font-size: 1.8rem;
}

.add-form input {
  padding: .5rem;
  font-size: 1.6rem;
  width: 100%;
}

.add-form .form_selector {
  width: 100%;
}

.add-form textarea {
  font-size: 1.6rem;
  padding: .5rem;
  width: 100%;
}

.add-form textarea::placeholder {
  font-style: italic;
}

/* .split-sections {
  display: flex;
  justify-content: space-between;
} */

div.load-section {
  margin-top: .5rem;
}

.load-form_details div:not(:first-child),
.locations-container div.load-section {
  margin-top: 0;
}

/* .add-form .locations-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
} */

.add-form .locations-container fieldset {
  margin-top: 1rem;
}

.add-form .state-zip {
  display: flex;
  /* justify-content: space-between; */
}

.add-form .pickup-state,
.add-form .delivery-state {
  margin-right: 2rem;
}

.state input {
  width: 5rem;
}
.zip input {
  width: 10rem;
}

.add-form button {
  border-color: var(--color-accent-gold);
  color: var(--color-accent-gold);
  margin-top: 2rem;
}






/* ============================== */
            /* ALL LOADS */
/* ============================== */
#all-loads {
  width:100%;
  margin: 0 auto;
}

.load:nth-of-type(odd) {
  background-color: var(--color-dark-grey);
}

.load:nth-of-type(even) {
  background-color: var(--color-light-grey);
}

.page-title {
  font-size: 5rem;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  text-shadow: var(--shadow-text);
}

.all-loads_container {
  border: 2px solid var(--color-accent-blue);
  box-shadow: var(--shadow-box);
}

.load {
  /* padding: 1.5rem; */
  border-bottom: 2px solid var(--color-accent-blue);
}

.load:last-child {
  border-bottom: none;
}

.all-loads_form {
  width: 100%;
  text-align: right;
}

.load-submit-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem 1.5rem;
  appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 1.6rem;
  color: #fff;
  margin-top: 1rem;
}

.load-submit-btn:hover {
  background-color: #fff;
  color: var(--color-dark-grey);
  cursor: pointer;
  border-color: #fff;
}








/* ============================== */
          /* DETAILS */
/* ============================== */

#details {
  width: 100%;
  margin: 0 auto;
}

.details__container {
  background-color: var(--color-dark-grey);
  color: #fff;
  border: 2px solid var(--color-accent-blue);
  box-shadow: var(--shadow-box);
}

.details__btn-container {
  display: flex;
  justify-content: space-between;
}

.back-btn {
  font-size: 2rem;
  color: var(--color-accent-blue);
  border: none;
  text-shadow: var(--shadow-text);
  padding-left: 0;
}

.back-btn-img {
  height: 1.5rem;
}

.back-btn:focus {
  outline: none;
}

.details__btn-container {
  padding: 1.5rem 1.5rem 0;
}

/* .details__load {
  padding: 0 1.5rem 1.5rem;
} */

/* .details__load {
  padding: 0;
  text-transform: capitalize;
} */

/* .details__load span {
  font-weight: bold;
  color: var(--color-accent-gold);
  text-shadow: var(--shadow-text);
} */

/* .details__load > div {
  margin-top: 1rem;
} */

/* .details__load-address span {
  display: block;
} */

/* .details__load-address p {
  margin-left: 1rem;
} */

/* .instructions p {
  margin: 0 1rem;
  text-transform: none;
} */







/* ================================== */
          /* NEW ACCOUNT */
/* ================================== */
#new-account {
  text-align: center;
  width: 100%;
}

.page-title {
  text-shadow: var(--shadow-text);
}

#new-account .form-wrap {
  /* width: 60rem; */
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--color-dark-grey);
  color: var(--color-accent-gold);
  text-shadow: var(--shadow-text);
  box-shadow: var(--shadow-box);
  border: 2px solid var(--color-accent-blue);
  display: flex;
  flex-direction: column;
}

.new-account-form {
  text-align: left;
  /* width: 100%; */
}

.account-image {
  width: 30rem;
  margin: 0 auto;
}

.account-image img {
  width: 100%;
}

.new-account-form fieldset > div {
  margin-bottom: 1rem;
}

.new-account-form fieldset {
  border: 2px solid #fff;
  padding: 0 1.5rem 1.5rem;
}

.new-account-form legend {
  font-size: 4rem;
  color: var(--color-accent-blue);
  padding: 0 .5rem;
}

.form-section > label {
  display: block;
  padding-right: 1rem;
}

.form-section > input {
  padding: .5rem;
  font-size: 1.6rem;
  width: 100%;
}

#submit-new-user {
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: var(--color-accent-gold);
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: bold;
  border: 2px solid;
  outline: none;
  float:right;
}





/* ================================== */
          /* PROFILE */
/* ================================== */

#profile {
  width: 100%;
}
#profile .all_loads {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding:1rem;
  border: none;
  box-shadow: none;
}

/* #profile .load-menu {
  box-shadow: var(--shadow-box);
} */

.collapsible-menu {
  background-color: var(--color-accent-blue);
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 7px #444;
}

.collapsible-menu:not(:first-child) {
  margin-top: 1rem;
}

.collapsible-menu > i,
.collapsible-menu > p {
  width: 33.3333%;
  text-align: left;
}

.collapsible-menu i {
  height: 100%;
  vertical-align: middle;
  padding-top: .5rem;
}

.profile-load {
  display: none;
  background-color: var(--color-dark-grey);
  border: 2px solid var(--color-accent-blue);
  text-align: left;
}

.profile_delete-load {
  padding: 1.5rem 1.5rem 0;
  text-align: right;
}

.delete-btn {
  color: #fff;
}






/* MODAL */

#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 200;
}

.modal__container {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: .5rem 1rem;
}

.modal__header h3 {
  flex: 1;
  text-align: center;
}

#modal__close {
  padding: 0;
  align-self: center;
  border: none;
}

.modal__content {
  padding: 2.5rem;
}

.modal__login-form > div {
  margin-bottom: 2rem;
  text-align: left;
}

.modal__login-form input {
  width: 100%;
}

.modal__login-form > input {
  margin-top: 3rem;
}

.modal__footer {
  text-align: center;
  padding: .5rem 2.5rem;
}

.modal__footer span {
  text-decoration: underline;
  font-weight: bold;
}



















@media screen and (min-width: 786px) {
  body {
    background-image: url("../images/truck-stop2.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }

  /* MODAL */
  #modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 200;
  }

  .modal__container {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal__header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: .5rem 1rem;
  }

  .modal__header h3 {
    flex: 1;
    text-align: center;
  }

  #modal__close {
    padding: 0;
    align-self: center;
    border: none;
  }

  .modal__content {
    padding: 2.5rem;
  }

  .modal__login-form > div {
    margin-bottom: 2rem;
    text-align: right;
  }


  /* NAVIGATION */
  header.masthead {
    box-shadow: 0 1px 1rem #000;
  }

  .masthead__container {
    width: 80%;
    margin: 0 auto;
  }

  .nav-checkbox,
  .nav-icon-container {
    display: none;
  }

  .nav-list-container {
    position: relative;
    top: 0;
    right:0;
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
  }

  #nav-list {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
  }

  #nav-list li {
    margin: 0;
  }

  #nav-list li > span {
    display: inline-block;
    margin: 0 2.5rem;
    color: var(--color-accent-gold);
  }

  .masthead ul li > a:hover{
    color: var(--color-accent-gold);
  }

  .masthead ul li:hover {
    color: var(--color-accent-gold);
    cursor: pointer;
  }

  #loginItem {
    position: relative;
  }

  .login-form,
  .login-checkbox {
    display: none;
  }

  .login-form input {
    padding: .25rem;
    font-size: 1.4rem;
  }

  .login-form div {
    text-align: right;
    line-height: 1;
    margin-top: 1.5rem;
  }

  #login-btn {
    color: var(--color-accent-blue);
    padding: .5rem .75rem;
  }

  div.signupLink-container {
    text-align: center;
  }

  #signupLink {
    font-size: 1.4rem;
    color: var(--color-accent-blue);
  }

  #signupLink > span {
    text-decoration: underline;
    font-weight: bold;
  }



  .container {
    padding: 2.5rem;
    position: relative;
    min-height: 80vh;
    display: flex;
  }




  /* ALL LOADS */
  #all-loads {
    width:65%;
    margin: 0 auto;
  }

  .load:nth-of-type(odd) {
    background-color: var(--color-dark-grey);
  }

  .load:nth-of-type(even) {
    background-color: var(--color-light-grey);
  }

  .page-title {
    font-size: 5rem;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    text-shadow: var(--shadow-text);
  }

  .all-loads_container {
    border: 2px solid var(--color-accent-blue);
    box-shadow: var(--shadow-box);
  }

  .load {
    padding: 2.5rem;
    color: #fff;

    border-bottom: 2px solid var(--color-accent-blue);
  }

  .load:last-child {
    border-bottom: none;
  }

  .all-loads_form {
    width: 100%;
    text-align: right;
  }

  .monetary-sign {
    margin-right: .2rem;
  }

  .load-submit-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 1.5rem;
    appearance: none;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 1.6rem;
    color: #fff;
    margin-top: 1rem;
  }

  .load-submit-btn:hover {
    background-color: #fff;
    color: var(--color-dark-grey);
    cursor: pointer;
    border-color: #fff;
  }

  /* FLOAT ADDITION */
  .load .information-container > div {
    width: 50%;
    float: left;
  }

  .information-container > div {
    width: 50%;
    float: left;
  }

  .information-container::after {
    content:"";
    display: block;
    clear: both;
  }

  .information-container span:first-child {
    font-weight: bold;
    color: var(--color-accent-gold);
  }

  .information-container p {
    text-transform: capitalize;
    text-shadow: var(--shadow-text);
  }

  .address span {
    display: block;
  }

  /* END FLOAT */



  /* DETAILS PAGE */
  #details {
    width: 80%;
  }

  .details__container {
    background-color: var(--color-dark-grey);
    color: #fff;
    border: 2px solid var(--color-accent-blue);
    box-shadow: var(--shadow-box);
  }

  .details__btn-container {
    padding: 2.5rem 2.5rem 1rem;
  }

  .back-btn:hover {
    cursor: pointer;
  }

  .back-btn:focus {
    outline: none;
  }

  .details__load {
    padding: 0 2.5rem 2.5rem;
  }

  .details__load span {
    margin-right: 1rem;
  }

  .details__load-address span {
    display: inline-block;
  }

  .details__load-address p {
    margin-left: 0rem;
    display: inline-block;
  }
  .instructions p {
    margin: 0 1rem;
  }





  /* ADD LOAD PAGE */
  #add {
    background-color: var(--color-dark-grey);
    margin: 0 auto;
    max-width: 70rem;
    width: 100%;
    color: #fff;
    padding: 2rem 3rem;
    border: 2px solid var(--color-accent-blue);
    box-shadow: var(--shadow-box);
    align-self: center;
  }

  #add h1 {
    text-align: center;
    font-size: 3rem;
  }

  .form_selector {
    width: 25rem;
  }

  .load-submit-button {
    border: 2px solid var(--color-accent-blue);
    color: var(--color-accent-blue);

  }

  .load-submit-button:hover {
    background-color: var(--color-accent-blue);
    color: var(--color-dark-grey);
  }

  .add-form fieldset {
    border: 1px solid #fff;
    padding: 0 1rem 1rem;
  }
  .add-form legend {
    font-size: 2.25rem;
    text-shadow: var(--shadow-text);
    color: var(--color-accent-blue);
    margin-bottom: -.5rem;
    padding: 0 1rem;
  }

  .add-form label {
    display: block;
    color: var(--color-accent-gold);
    text-shadow: var(--shadow-text);
    font-size: 1.8rem;
  }

  .add-form input {
    padding: .5rem;
    font-size: 1.6rem;
    width: 25rem;
  }

  .add-form textarea {
    font-size: 1.6rem;
    padding: .5rem;
    width: 100%;
  }

  .add-form textarea::placeholder {
    font-style: italic;
  }

  .split-sections {
    display: flex;
    justify-content: space-between;
  }

  div.load-section {
    margin-top: .5rem;
  }

  .load-form_details div:not(:first-child),
  .locations-container div.load-section {
    margin-top: 0;
  }

  .add-form .locations-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .add-form .state-zip {
    display: flex;
    justify-content: space-between;
  }

  .state input {
    width: 5rem;
  }
  .zip input {
    width: 10rem;
  }

  .add-form button {
    border-color: var(--color-accent-gold);
    color: var(--color-accent-gold);
    margin-top: 2rem;
  }





  #profile {
    width: 100%;
  }
  #profile .all_loads {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding:1rem;
    border: none;
    box-shadow: none;
  }

  #profile .load-menu {
    box-shadow: var(--shadow-box);
  }

  .collapsible-menu {
    background-color: var(--color-accent-blue);
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 7px #444;
  }

  .collapsible-menu:not(:first-child) {
    margin-top: 1rem;
  }

  .collapsible-menu > i,
  .collapsible-menu > p {
    width: 33.3333%;
    text-align: left;
  }

  .collapsible-menu i {
    height: 100%;
    vertical-align: middle;
    padding-top: .5rem;
  }

  .profile-load {
    display: none;
    background-color: var(--color-light-grey);
    padding: 1.5rem 2rem;
    border: 2px solid var(--color-accent-blue);

    text-align: left;
  }

  .profile-load > .information-container p {
    text-shadow: none;
  }

  .profile-load span:first-child {
    font-weight: bold;
    color: var(--color-accent-gold);
    text-shadow: var(--shadow-text);
  }


  /* SIGNUP PAGE */
  #new-account {
    text-align: center;
    width: 100%;
  }

  .page-title {
    text-shadow: var(--shadow-text);
  }

  #new-account .form-wrap {
    padding: 2.5rem;
    background-color: var(--color-dark-grey);
    color: var(--color-accent-gold);
    text-shadow: var(--shadow-text);
    box-shadow: var(--shadow-box);
    border: 2px solid var(--color-accent-blue);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 70%;
  }

  .new-account-form {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .account-image {
    width: 45%;
    margin: 0 auto;
    padding-left: 2.5rem;
  }

  .account-image img {
    width: 100%;
  }

  .new-account-form fieldset {
    border: 2px solid #fff;
    padding: 0 1.5rem 1.5rem;
  }

  .new-account-form legend {
    font-size: 4rem;
    color: var(--color-accent-blue);
    padding: 0 .5rem;
  }

  /* .new-account-form fieldset > div.form-selection:first-child {
    margin-top: 0;
  } */

  .form-section > label {
    display: block;
    padding-right: 1rem;
  }

  .form-section > input {
    padding: .5rem;
    font-size: 1.6rem;
    width: 100%;
  }

  #submit-new-user {
    padding: 1rem 1.5rem;
    background-color: transparent;
    color: var(--color-accent-gold);
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: bold;
    border: 2px solid;
    outline: none;
    width: 15rem;
    align-self: flex-end;
  }


}
